<h1>Create New User!</h1>
<form action="<%= users_url %>" method='post'>

<label for="Email">Email
<input type="text" name="user[email]" id="">
</label>
<label for="Password">Password
<input type="password" name="user[password]" id="">
</label>
<input type="submit" value="create user">
</form>
